<!doctype HTML>
{% load static %}
{% load mathfilters %}
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
<html>
<head>
  <script type="text/javascript">(function(w,s){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://cdn-in.pagesense.io/js/textbazaar/affa58f0023a46b59159ee7419a0ad50.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(e,x);})(window,"script");</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<title>Dashboard (beta)</title>
	<link rel="icon" href="https://textbazaar.herokuapp.com/static/uploads/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href=" {% static 'css/dashboard.css' %}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div id="mySidenav" class="sidenav">
	<p class="logo">TextBazaar</p>
  <!-- <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a> -->
  <a href="/create"class="icon-a"><i class="fa fa-file-text-o"></i> &nbsp;&nbsp;Create article</a>
  <!-- <a href="#"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;All Articles</a> -->
  <a href="/pricing"class="icon-a"><i class="fa fa-rocket"></i> &nbsp;&nbsp;Upgrade Plan</a>
  <a href="mailto:letstalk@textbazaar.me"class="icon-a"><i class="fa fa-envelope-o"></i> &nbsp;&nbsp;Contact Us</a>
  <a href="/logout"class="icon-a"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;Sign out</a>
  <center>{% if user.plan == 'startup' %}
       <form action="https://buy.stripe.com/5kA29M3Qx4Uab4c28f">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% elif user.plan == 'pro' %}
       <form action="https://buy.stripe.com/7sI4hU4UB0DUdck14c">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% else %}
       <form action="https://buy.stripe.com/00geWyfzfaeu2xG9AJ">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% endif %}</center>
  <!--   <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Inventory</a>
  <a href="#"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Accounts</a>
  <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Tasks</a> -->

</div>
<div id="main" >
	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	<div class="col-div-6">
	<div class="profile">
		<img src="{% static 'uploads/textbazaar.png' %}" class="pro-img" />
		<p>{{ user.first_name }} <span>Current Plan: {{ user.plan|title }}</span></p>
	</div>
</div>
	<div class="clearfix"></div>
</div>
	<div class="clearfix"></div>
	<div class="clearfix"></div>
	{% if messages %}
<ul class="messages" style="color: white;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<object data="	<div class="col-div-5">
		<!-- <div class="box-4"> 
		<div class="content-box">
			<p>{{ user.credits_bought|sub:user.credits_used }} Compute Credits Left </p>
       <ul style="color: white;">
       <br>
      <li>1 Compute Credit = 1 article, 1 translation, or 1 list of chief points in an article</li>
      <li>Add-on Compute Credits are added to the current billing cycle and can't be carried over to the next billing cycle</li>
      <li>Your purchased credits should appear in your account within 8 hours.</li>
      </ul>
      <hr> <center>
       {% if user.plan == 'startup' %}
       <form action="https://buy.stripe.com/5kA29M3Qx4Uab4c28f">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% elif user.plan == 'pro' %}
       <form action="https://buy.stripe.com/7sI4hU4UB0DUdck14c">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% else %}
       <form action="https://buy.stripe.com/00geWyfzfaeu2xG9AJ">
        <button type="submit" class="btn btn-outline-success">Get Credits</button>
        </form>
       {% endif %}
      </center> -->
			 <!-- <div class="circle-wrap">
   <div class="circle">
      <div class="mask full"  style="transform: rotate(180deg);">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
      <div class="inside-circle"> 40% </div>
    </div> 
  </div>-->
		</div>
	</div>
	</div>
</object>	
		<div class="box-12">
		<div class="content-box">
			<p>Your Articles</p>
			<br/>
	<div class="col-div-12" style="max-height: 800px; overflow-y: scroll;">
			<table>
  <tr>
    <th>Article</th>
    <th>Created on</th>
  </tr>
  {% for post in post_list %}
  <tr>
    <td>  
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="{{ post.title }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ post.title }}" aria-expanded="true" aria-controls="{{ post.title }}">
          {{ post.title }}
        </button>
      </h5>
    </div>
    <div id="{{ post.title }}" class="collapse show" aria-labelledby="{{ post.title }}" data-parent="#accordion">
      <div class="card-body" style="color: black;">
          {{ post.content }}
      </div>
    </div>
  </div></td>

    <!-- <td>{{ post.title }}</td>
    <td>{{ post.content|slice:":2000" }}...</td> -->
    <td>{{ post.created_on|date:'d-m-Y h:i A' }}</td>
  </tr>
  {% endfor %}
</table>
		</div>
	</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
