<!doctype HTML>
{% load static %}
{% load mathfilters %}
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
<html>
<head>
	<title>Dashboard (beta)</title>
	<link rel="icon" href=" {% static 'uploads/favicon.ico' %} " type="image/x-icon">
	<link rel="stylesheet" href=" {% static 'css/dashboard.css' %}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div id="mySidenav" class="sidenav">
	<p class="logo">TextBazaar</p>
  <!-- <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a> -->
  {% if user.credits_bought|sub:user.credits_used != 0 %}
  <a href="/create"class="icon-a"><i class="fa fa-file-text-o"></i> &nbsp;&nbsp;Create article</a>
  {% endif %}
  <!-- <a href="#"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;All Articles</a> -->
  <a href="/pricing"class="icon-a"><i class="fa fa-rocket"></i> &nbsp;&nbsp;Upgrade Plan</a>
  <a href="mailto:letstalk@textbazaar.me"class="icon-a"><i class="fa fa-envelope-o"></i> &nbsp;&nbsp;Contact Us</a>
  <a href="/logout"class="icon-a"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;Sign out</a>
  <!--   <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Inventory</a>
  <a href="#"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Accounts</a>
  <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Tasks</a> -->

</div>
<div id="main">
	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	<div class="col-div-6">
	<div class="profile">
		<img src="{% static 'uploads/textbazaar.png' %}" class="pro-img" />
		<p>{{ user.first_name }} <span>Current Plan: {{ user.plan|title }}</span></p>
	</div>
</div>
	<div class="clearfix"></div>
</div>
	<div class="clearfix"></div>
	<br/>
	<div class="clearfix"></div>
	<br/><br/>
	{% if messages %}
<ul class="messages" style="color: white;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			<p>Recent Articles</p>
			<br/>
			<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created on</th>
  </tr>
  {% for post in post_list %}
  <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.content|slice:":100" }}</td>
    <td>{{ post.created_on|date:'d-m-Y h:i A' }}</td>
  </tr>
  {% endfor %}
  
</table>
		</div>
	</div>
	</div>
	<div class="col-div-4">
		<div class="box-4">
		<div class="content-box">
			<p>{{ user.credits_bought|sub:user.credits_used }} Compute Credits Left </p>
      <h4 style="color: violet;">Available Offers:</h4>
       <ul style="color: white;">
      <li>Flat 2.5% off on all orders above INR 33,000 upto Rs.695 on payments via UPI on PayTM and BHIM Apps</li>
      <br>
      <li>Avail Flat 3.41% off with No Cost EMI on Cards from Kotak Mahindra Bank for orders above INR 20,000. For Indian Customers Only.</li>
      </ul>
      <hr> <center>
       {% if user.plan == 'startup' %}
       <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HUzbAB87b5KuAW" async> </script> </form>
       {% elif user.plan == 'pro' %}
       <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HUzgyUpTn33Ryz" async> </script> </form>
       {% else %}
       <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HUzn4ikLapRrr2" async> </script> </form>
       {% endif %}
      </center>
			 <!-- <div class="circle-wrap">
   <div class="circle">
      <div class="mask full"  style="transform: rotate(180deg);">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
      <div class="inside-circle"> 40% </div>
    </div> 
  </div>-->
		</div>
	</div>
	</div>
		
	<div class="clearfix"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
