<!DOCTYPE html>
<html lang="en">
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
	{% load static %}
	<head>
		<script type="text/javascript">(function(w,s){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://cdn-in.pagesense.io/js/textbazaar/affa58f0023a46b59159ee7419a0ad50.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(e,x);})(window,"script");</script>
		<meta charset="utf-8" >
		<meta name="description" content="The only way to create SEO focused articles in 115+ languages within minutes.">
		<title>TextBazaar</title>
		<!-- Global site tag (gtag.js) - Google Ads: 680819585 -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-680819585"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-680819585');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="{% static 'static/myIcon.ico' %}" type="image/x-icon" />
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!-- Bootstrap 4.5.2 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<!-- Startup CSS (Styles for all blocks) - Remove ".min" if you would edit a css code -->
		<link href=" {% static 'css/style.min.css' %} " rel="stylesheet" />
		<!-- jQuery 3.5.1 -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		    <link rel="stylesheet" href=" {% static 'css/testimonial.css' %} ">
	</head> 
	<body>
<!-- Navigation 1 -->
	<nav class="pt-30 pb-30 bg-dark text-center navigation_1">
		<div class="container px-xl-0">
			<div class="row justify-content-center align-items-center f-16">
				<div class="mb-20 mb-lg-0 col-lg-3 text-lg-left">
					<a href="/" class="link img_link">
						<img src=" {% static 'uploads/textbazaar.png' %} " alt="Logo" class="img-fluid mw-50 mh-50" data-aos="fade-down" data-aos-delay="250">
					</a>
				</div>
				<div class="col-lg-6" data-aos="fade-down" data-aos-delay="0">
					<a href="/" class="link mx-15 color-bg-light">
						Blog (Coming soon)
					</a>
					<a href="/pricing" class="link mx-15 color-bg-light">
						Pricing
					</a>
					<a href="/affiliate" class="link mx-15 color-bg-light">
						Affiliate
					</a>
				</div>
				<div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center" data-aos="fade-down" data-aos-delay="250">
					{% if user.is_authenticated %}
				   <a href="/dashboard" class="btn mr-20 sm action-2 f-16">
				   View Dashboard
				   </a>
					{% else %}
					<a href="/login" class="btn mr-20 sm action-3 f-16 color-bg-light">
						Sign In
					</a>
					<a href="/signup" class="btn mr-20 sm action-2 f-16">
						Sign Up
					</a>
					{% endif %}

				</div>
			</div>
		</div>
	</nav>
			<header class="pt-195 pb-110 bg-light header_1" data-bg-src="{% static 'uploads/textbazaar_bg.jpg' %}" data-bg-src-2x="{% static 'uploads/textbazaar_bg.jpg' %}" >
				<div class="container"  style=" width: 100%; height: auto;">
					<h1 class="big text-center" data-aos="fade-down" data-aos-delay="0">
						TextBazaar
					</h1>
					<div class="mx-auto mt-30 f-36 text-center text-adaptive color-bg-dark bold text-capitalize mw-900" data-aos="fade-down" data-aos-delay="250">
						The only way to create SEO focused & engaging content in 118+ languages within minutes.<hr>Powered with <a href='https://openai.com' class="text-warning">OpenAI's GPT</a> autoregressive language model + Our proprietary tech 
					</div>
								<br>
								<br>
								<br>
			<center>
				<div data-aos="fade-down" data-aos-delay="250">
					<a href="/signup" class="btn lg action-twitter">
						Get Started
					</a>
				</div>
					First 5 Compute Credits are on us! No Card Required.
			</center>

					<div class="mt-80 text-center buttons" data-aos="fade-down" data-aos-delay="500">
						<div>
						</div>
					</div>
				</div>
			</header>
			<!-- clients -->
			<center>
		    <div style="background-image: url('https://ninetheme.com/themes/cryptoland/wp-content/uploads/2018/10/bg.jpg');">
			<br>
			<!-- <h6 style="font-family:Playfair Display;font-size:44px;text-align:center;color:orange;">Trusted by 35,000+ awesome freelancers<br>&<br>120,000+ customer obsessed companies.</h1> -->
			<div class="d-flex" >
			<ul class="list=inline mx-auto justify-content-center" >
					<li class="list-inline-item"><img src="{% static 'uploads/logo7.svg' %}" width="175" height="175"></li>
					<li class="list-inline-item"><img src="{% static 'uploads/logo2.svg' %}" width="100" height="100"></li>
					<li class="list-inline-item"><img src="{% static 'uploads/logo10.svg' %}" width="120" height="120"></li>
					<li class="list-inline-item"><img src="{% static 'uploads/logo4.svg' %}" width="255" height="255"></li> 

                </ul> 
			</div>
				</div>
				</center>

<!-- post-capacity-hour-->
<hr>
	<section class="pt-105 pb-95  content_2" style="background-image: url('static/uploads/stage.jpg');">
		<div class="container px-xl-0 text-center" >
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-10">
					<h2 data-aos="fade-down" data-aos-delay="200" style="color: black; font-family: 'Montserrat', sans-serif; " >
						Post a year's worth of content within an hour!
					</h2>
				</div>
<br><em style="font-size:16px;">Take your Website/Facebook/YouTube/Instagram/Medium/Blog to the next level.</em>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2578_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"adblock","geo":"","time":"2004-01-01 2021-07-19"},{"keyword":"seo","geo":"","time":"2004-01-01 2021-07-19"},{"keyword":"digital marketing","geo":"","time":"2004-01-01 2021-07-19"},{"keyword":"adwords","geo":"","time":"2004-01-01 2021-07-19"}],"category":0,"property":""}, {"exploreQuery":"date=all&q=adblock,seo,digital%20marketing,adwords","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
	
	<!-- Feature 1 -->
		<section class="pt-105 pb-45 text-center feature_2">
			<div class="container px-xl-0">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-10">
						<h2 class="small" data-aos="fade-down" data-aos-delay="0">
							The TextBazaar Advantage
						</h2>
						<div class="mt-35 mb-65 f-22 color-heading text-adaptive description" data-aos="fade-down" data-aos-delay="250">
						TextBazaar your way to higher traffic & content for your valued customers as well as leads 😄
						</div>
					</div>
					<div class="col-xl-10">
						<div class="row justify-content-center">
							<div class="mb-50 col-md-4 col-sm-8" data-aos="fade-down" data-aos-delay="500">
								<div class="mb-20 f-18 medium title">
									Articulated Content
								</div>
								<div class="color-heading text-adaptive">
									Unique & Plagiarism free multi-lingual content with varying Flesch-Kincaid scores (Readablity scores) that ranks.
								</div>
								<a href="/signup" class="mt-30 btn sm w-40 border-transparent-main">
									<i class="fas fa-angle-right">
									</i>
								</a>
							</div>
							<div class="mb-50 col-md-4 col-sm-8" data-aos="fade-down" data-aos-delay="750">
								<div class="mb-20 f-18 medium title">
									Time-Saver
								</div>
								<div class="color-heading text-adaptive">
									Create articles within 
									minutes,<br>not days 
								</div>
								<a href="/signup" class="mt-30 btn sm w-40 border-transparent-main">
									<i class="fas fa-angle-right">
									</i>
								</a>
							</div>
							<div class="mb-50 col-md-4 col-sm-8" data-aos="fade-down" data-aos-delay="1000">
								<div class="mb-20 f-18 medium title">
									For SEO
								</div>
								<div class="color-heading text-adaptive">
									Rank higher even in the 
									<br>age of Adblock against your competitors.
									<br>Rank sooner & higher using better SEO
								</div>
								<a href="/signup" class="mt-30 btn sm w-40 border-transparent-main">
									<i class="fas fa-angle-right">
									</i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- Testimonials -->
	<hr style="background-color: purple; height: 25px; border: 0; margin: 0 ;">
<div id="carouselExampleIndicators" class="carousel slide z-depth-1-half" data-ride="carousel" data-interval="1500">
  <div class="carousel-inner">
    <div class="carousel-item active">
			<section class="pt-80 pb-80 bg-light testimonial_1" style="background-image: url('static/uploads/watercolor_1.jpg');">
		<div class="container px-xl-0">
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-11" data-aos="fade-down" data-aos-delay="0">
					<div class="hr bg-gray h-2">
					</div>
				</div>
			</div>
			<div class="row pt-30 pb-50 inner" data-aos="fade-down" data-aos-delay="250">
				<div class="col-xl-2 col-lg-1">
				</div>
				<div class="col-md-1 col-sm-2">
					<i class="fas fa-quote-left f-36 color-gray">
					</i>
				</div>
				<div class="col-xl-7 col-lg-8 col-sm-10">
					<div class="pt-10 f-22 text-adaptive">
						This AI is freaking incredible. Writing content used to take hours and I would be burnt out by the end of each day. I can spark creativity at any point in the day - whether I'm building out trainings, youtube videos, copywriting for social media, or creating books for lead generation. My only wish is that the website could write in more than just one brand voice from one account. Thank you!! for developing such a life saving tool
					</div>
					<div class="mt-20 d-flex align-items-center author_info">
						<img src="{% static 'uploads/comment_bg1.jpg' %}"  alt="" class="w-60 h-60 radius_full">
						<div class="ml-15 color-heading f-14 semibold text-uppercase sp-20">
							Jennifer Kirk, Freelancer
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-11" data-aos="fade-down" data-aos-delay="0">
					<div class="hr bg-gray h-2">
					</div>
				</div>
			</div>
		</div>
		</section>
    </div>
	{% for testimonial in data %}
    <div class="carousel-item">
		<section class="{{ testimonial.div }}" style="background-image: url('static/uploads/watercolor_1.jpg');">
			<div class="container px-xl-0 text-center">
				<div class="row justify-content-center">
					<div class="col-xl-10 col-lg-11">
						<i class="fas fa-quote-left f-30 color-gray" data-aos="fade-down" data-aos-delay="0">
						</i>
						<div class="mt-35 mb-45 f-22 text-adaptive" data-aos="fade-down" data-aos-delay="250">
							{{ testimonial.text }}
						</div>
						<img src="{{ testimonial.img }}" alt="" class="w-120 h-120 radius_full" data-aos="fade-down" data-aos-delay="500">
						<div class="mt-20 f-18 medium" data-aos="fade-down" data-aos-delay="750">
							{{ testimonial.name }}
						</div>
						<div class="f-14 semibold color-heading text-uppercase sp-20" data-aos="fade-down" data-aos-delay="750">
							{{ testimonial.job }}
						</div>
					</div>
				</div>
			</div>
		</section>
		</div>
    {% endfor %}		
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<hr style="background-color: purple; height: 25px; border: 0; margin: 0 ;">

	<!-- Feature 2 -->
	<section class="pt-105 pb-45  text-center feature_1" style="background-image: url('static/uploads/watercolor_2.jpg'); background-size: cover;">
		<div class="container px-xl-0">
			<div class="row justify-content-center">
				<div class="col-xl-10">
					<h2 class="mb-45 small" data-aos="fade-down" data-aos-delay="0">
						TextBazaar is at least 10x better, here's why
					</h2>
					<div class="row justify-content-center">
						<div class="col-md-4 mb-50" data-aos="fade-down" data-aos-delay="250">
							<i class="fas fa-briefcase f-60 action-3">
							</i>
							<div class="mt-20 mb-25 f-22 title">
								Better than your current talent
							</div>
							<div class="color-heading f-18 text-adaptive">
								TextBazaar is 10x more affordable, 1000x more faster, 3.4x more articulated on average, as well as can create 10 different variations of the same article within 10 minutes; or even more in the rare case that you aren't satisified from the first creation!
							</div>
						</div>
						<div class="col-md-4 mb-50" data-aos="fade-down" data-aos-delay="500">
							<i class="fas fa-compress-arrows-alt f-60 action-3">
							</i>
							<div class="mt-20 mb-25 f-22 title">
								Media
 							</div>
							<div class="color-heading f-18 text-adaptive">
								Suggested videos & images for
										<br>each article that you can directly embed into your content! (Copyright-free images + YouTube Embeds) 
							</div>
						</div>
						<div class="col-md-4 mb-50" data-aos="fade-down" data-aos-delay="750">
							<i class="fas fa-desktop f-60 action-3">
							</i>
							<div class="mt-20 mb-25 f-22 title">
								API
							</div>
							<div class="color-heading f-18 text-adaptive">
								Versatile REST API to be launched soon!<br> Integrate within your website and post automatically at your scheduled times or according to what's trending
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<center><img src="{% static 'uploads/article_printer.jpg'%}" width="100%"></center>

	<!-- <section class="pt-100 pb-70 bg-light blog_2"  style="background-image: url('static/uploads/watercolor_3.jpg');">
		<div class="container px-xl-0">
			<h3 class="mb-15" data-aos="fade-down" data-aos-delay="0">
				The TextBazaar Advantage
			</h3>
			<div class="mb-60 color-heading f-18 text-adaptive" data-aos="fade-down" data-aos-delay="0">
				TextBazaar your way to higher traffic and content for your valued customers &#128516
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="mb-30 col-12 h-270" data-aos="fade-down" data-aos-delay="250">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/niUkImZcSP8'); background-size: cover;" >
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										Media
									</a>
								</div>
								<a href="#" class="link color-white relative">
									 
									<div class="mb-20 f-22 medium text-adaptive">
										Suggested videos & images for
										<br>each article. 
									</div>
								</a>
							</div>
						</div>
						<div class="mb-30 col-12 col-sm-6 h-390 block-thin" data-aos="fade-down" data-aos-delay="500">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/JJMoAiVl9jA'); background-size: cover;" >
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										AI
									</a>
								</div>
								<a href="#" class="link color-white relative">
									 
									<div class="mb-20 f-22 medium text-adaptive">
										Images in place right where you'd want it.
									</div>
								</a>
							</div>
						</div>
						<div class="mb-30 col-12 col-sm-6 h-390 block-thin" data-aos="fade-down" data-aos-delay="750">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/gETBUi_oRgQ'); background-size: cover;">
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										Content
									</a>
								</div>
								<a href="#" class="link color-white relative">
									 
									<div class="mb-20 f-22 medium text-adaptive">
										Unique & Plagiarism free multi-lingual content that ranks.
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="mb-30 col-12 col-sm-6 h-390 block-thin" data-aos="fade-down" data-aos-delay="1000">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/ehyV_XOZ4iA'); background-size: cover;">
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										API
									</a>
								</div>
								<a href="#" class="link color-white relative">
									 
									<div class="mb-20 f-22 medium text-adaptive">
										Versatile REST API to be launched soon!
									</div>
								</a>
							</div>
						</div>
						<div class="mb-30 col-12 col-sm-6 h-390 block-thin" data-aos="fade-down" data-aos-delay="1250">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/Ppfeovtpc2s'); background-size: cover;" >
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										Time-Saver
									</a>
								</div>
								<a href="#" class="link color-white relative">
									<div class="mb-20 f-22 medium text-adaptive">
										Create articles within minutes,<br>not days.
									</div>
								</a>
							</div>
						</div>
						<div class="mb-30 col-12 h-270" data-aos="fade-down" data-aos-delay="1500">
							<div class="h-full bg-dark color-filter-dark-4 px-30 pt-30 pb-30 radius10 overflow-hidden d-flex flex-column justify-content-between" style="background-image: url('https://source.unsplash.com/yeB9jDmHm6M'); background-size: cover;">
								<div class="d-flex justify-content-end relative">
									<a href="#" class="pl-15 pr-15 bg-white link color-main f-14 lh-30 bold text-uppercase sp-20 radius10">
										SEO
									</a>
								</div>
								<a href="#" class="link color-white relative">
									<div class="mb-20 f-22 medium text-adaptive">
										Rank higher even in the age of AdBlock and against your competitors with the power of better SEO.
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
				<!-- Footer 1 -->
					<footer class="pt-75 pb-65 bg-dark  text-center footer_1">
						<div class="container px-xl-0">
							<div class="row justify-content-between align-items-center lh-40 links">
								<div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" data-aos="fade-down" data-aos-delay="250">
									<a href="#" class="link mx-20 color-bg-light">
										Policy
									</a>
									<a href="#" class="link mx-20 color-bg-light">
										Terms
									</a>
								</div>
								<div class="mb-10 mb-lg-0 col-lg-auto order-0">
									<a href="#" class="link img_link mw-40 mh-40">
										<img src=" {% static 'uploads/textbazaar.png' %} " alt="Logo" class="img-fluid" data-aos="fade-down" data-aos-delay="0">
									</a>
								</div>
								<div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos="fade-down" data-aos-delay="250">
									<a href="mailto:letstalk@textbazaar.me" class="link mr-15 color-bg-light">
										Contact us
									</a>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8" data-aos="fade-down" data-aos-delay="0">
									<div class="color-heading text-adaptive">
										TextBazaar
									</div>
								</div>
							</div>
						</div>
					</footer>
		<!-- gReCaptcha popup (uncomment if you need a recaptcha integration) -->
		<!--
		<div class="bg-dark op-8 grecaptcha-overlay"></div>
		<div class="bg-light radius10 w-350 h-120 px-20 pt-20 pb-20 grecaptcha-popup">
			<div class="w-full h-full d-flex justify-content-center align-items-center">
				<div id="g-recaptcha" data-sitekey="PUT_YOUR_SITE_KEY_HERE"></div>
			</div>
		</div>
		<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
		-->
		<!-- Bootstrap 4.5.2 JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
		<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<!-- 
			Google maps JS API 
			Don't forget to replace the key "AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U" to your own! 
			Learn how to get a key: https://help.designmodo.com/article/startup-google-maps-api/ 
		-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
		<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
		<script src=" {% static 'js/jquery.maskedinput.min.js' %} "></script>
		<!-- Startup JS (Custom js for all blocks) -->
		<script src=" {% static 'js/script.js' %} "></script>
	</body>
</html>

