{% load crispy_forms_tags %}
<!doctype html>
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>

<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8">
		<link rel="icon" href=" {% static 'uploads/favicon.ico' %} " type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Sign Up to TextBazaar</title>
  </head>
  <body class="bg-dark" style="color: white;">
  <a href="/" class="logo navbar-brand text-black"><- TextBazaar</a>
      <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Sign up for TextBazaar</h1>
          <hr class="mt-0 mb-4 " style="background-color: yellow; ">
  <form method="post">
    {% csrf_token %}

      {{ form|crispy }}

    <center>
      <!-- By clicking Sign up you are agreeing to the <a href="/terms" class="link">Terms of Use</a><br> -->
      <hr>
      <button type="submit" class="btn btn-success">Sign up
      </button>
      </center>
  </form>
        </div>
      </div>
    </div>
  </body>
</html>