<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>
<head>
	<title>TextBazaar Signup</title>
		<!-- Global site tag (gtag.js) - Google Ads: 680819585 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-680819585"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'AW-680819585');
	</script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
const inputs = document.querySelectorAll(".input");


function addcl(){
	let parent = this.parentNode.parentNode;
	parent.classList.add("focus");
}

function remcl(){
	let parent = this.parentNode.parentNode;
	if(this.value == ""){
		parent.classList.remove("focus");
	}
}


inputs.forEach(input => {
	input.addEventListener("focus", addcl);
	input.addEventListener("blur", remcl);
});


    </script>
</head>
<body style="background-image: url('static/uploads/blue_shapes.jpg'); background-size: cover;">
	<img class="wave" src="{% static 'uploads/wave_bg.png'%}">
	<div class="container">
		<div class="img">
			<img src="{% static 'uploads/phone_avatar.svg' %}">
		</div>
		<div >
			<!-- <form action="index.html"> -->
				<img src="{% static 'uploads/avatar.svg' %}" height="100px">
				<h2 class="title">Sign up for TextBazaar</h2>
           		<!-- <div class="input-div one">
                      <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>   -->
{% if messages %}
<ul class="messages" style="color: red;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

           		  <form method="post">
    
    {% csrf_token %}
      {{ form|crispy }}
    <center>
      <!-- Please wait upto 4 hours for us to add 7 credits to your account for the free trial, the remaining of which will be added once the trial is over. You can also buy additional credits from the dashboard. -->
      <hr>Already have an account?
      <center>
                 <a href="/login" class="link">Sign in</a>
    </center>
      <hr>
    <button type="submit" class="btn btn-success">Sign up</button>
      </center>
  </form>

           		<!-- <div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div> -->
            	<!-- <a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login"> -->
            </form>
        </div>
    </div>
</body>
</html>